<div class="container d-flex justify-content-center align-items-center min-vh-100" style="padding: 2%;">
  <div class="card custom-card shadow-lg row-cols-md-4 col-md-9 col-lg-8 d-flex flex-row" style="padding: 3%;">
    <!-- Columna Izquierda -->
    <div class="col-12 col-md-5 left-section">
      @if(project){
      <img [src]="project.imgUrl" class="img-fluid custom-img" alt="Project Image" />
      } @else {
      <img [src]="'images/placeholder.jpg'" class="img-fluid custom-img" alt="Project Image" />
      }

      <h2 class="text-center section-title">Skills:</h2>
      @if(project){
        @if(project.skills!.length == 0){
        <p class="text-center text-muted">No existen skills asignadas en este proyecto</p>
        }
        @for(skill of project.skills; track skill.id){
        <span class="badge bg-primary m-1">{{ skill.name }}</span>
        }
      }
    </div>

    <!-- Columna Derecha -->
    <div class="card-body col-12 col-md-7 right-section">
      <h2 class="section-title">Nombre del proyecto:</h2>
      @if(project){
      <p>{{ project.name }}</p>
      } @else {
      <p>Proyecto no encontrado</p>
      }

      <h2 class="section-title mt-3">Descripción:</h2>
      <p class="description-box">
        @if(project){
        {{ project.description }}
        } @else {
        Proyecto no encontrado
        }
      </p>

      <p class="section-title mt-3">Tecnología:</p>
      @if(project){
      <p>{{ project.technology }}</p>
      } @else {
      <p>No hay tecnología especificada</p>
      }

      <h2 class="section-title mt-3">Experience:</h2>
      @if(project?.experience?.length == 0){
      <p class="text-center text-muted">No existen experiencias asignadas en este proyecto</p>
      }

      @if(project){
        @if(project.experience && project.experience.length > 0){
          @for(experience of project.experience; track experience.id){
          <div class="mb-3 experience-box">
            <p><strong>Empresa:</strong> {{ experience.companyName }}</p>
            <p><strong>Puesto:</strong> {{ experience.position }}</p>
            <p><strong>Fecha:</strong> {{ experience.startDate | date : 'dd/MM/yyyy' }} - {{ experience.endDate | date : 'dd/MM/yyyy' }}</p>
            <p><strong>Experiencia:</strong> {{ experience.description }}</p>
          </div>
          }
        } @else {
          <p class="text-center text-muted">No existen experiencias asignadas en este proyecto</p>
        }
      }

      <!-- Botón Regresar -->
      <div class="position-absolute top-btn">
        <a [href]="'/'" class="btn btn-danger custom-btn">
          <i class="fas fa-arrow-left"></i> <span class="text-white">Regresar</span>
        </a>
      </div>

      <!-- Botones Eliminar y Editar -->
      <div class="bottom-btns">
        <a (click)="confirmDelete(project!.id)" class="btn btn-danger custom-btn">
          <span class="text-white">Eliminar</span>
        </a>
        @if(getToken() == 'Admin'){
        <a [href]="'/edit/' + project?.id" class="btn btn-secondary custom-btn">
          <span class="text-white">Editar</span>
        </a>
        }
      </div>
    </div>
  </div>
</div>
