<div>
  <section class="container mt-5">
    <div class="row align-items-center">
      <!-- Texto a la izquierda -->
      <div class="col-lg-6" style="font-family: 'Roboto', sans-serif; text-align: center; padding: 50px;  border-radius: 10px;">
        <h1 style="color: #333; font-size: 3rem; font-weight: bold;">Soy Juan Luevano Ruiz</h1>
        <p style="color: #555; font-size: 1.2rem; font-weight: 500;">Desarrollador Backend .Net</p>
        <button (click)="downloadCV()" class="btn btn-secondary" style="font-size: 1.1rem; padding: 10px 20px; width: 300px; background-color: D9D9D9;">Descargar CV</button>
      </div>
      
  
      <!-- Imagen a la derecha -->
      <div class="col-lg-5 text-center margin-left: 40px;">
        <img [src]="'images/photo.png'" alt="Foto Juan" class="img-fluid" />
      </div>
    </div>
  </section>
  <section class="container mt-5">
    <div class="row align-items-center">
      <!-- Título y descripción -->
      <h2 class="text-center text-dark mb-4">Desarrollador Backend y Front End</h2>
  
      <!-- Imagen mejorada con clases de Bootstrap y personalización con CSS -->
      <div class="col-12">
        <div class="img-container">
          <img
            [src]="'images/section2.png'"
            alt="Backend Developer Imagen"
            class="img-fluid d-block mx-auto shadow-lg rounded-3"
          />
        </div>
      </div>
    </div>
  </section>
  
  
 <app-projects></app-projects>
  
  
  
  
 <section class="container my-5">
  <div class="row align-items-center">
    <!-- Imagen a la izquierda (se oculta en pantallas pequeñas y se muestra en pantallas grandes) -->
    <div class="col-lg-6 text-center mb-4 mb-lg-0">
      <img [src]="'images/profile.png'" alt="Foto de Juan Luevano" class="img-fluid rounded-circle profile-img d-none d-lg-block" style="max-width: 600px;">
    </div>

    <!-- Texto a la derecha -->
    <div class="col-lg-6">
      <h2 class="mb-3">Sobre mí</h2>
      <p class="lead">
        Soy Juan Luevano Ruiz, un apasionado desarrollador Backend especializado en .NET.  
        Me encanta crear soluciones eficientes y escalables para resolver problemas del mundo real.  
        Con varios años de experiencia, disfruto trabajar con tecnologías modernas y aprender constantemente.
      </p>
      <a [href]="['/auth/certificados']" routerLinkActive="router-link-active"  class="btn btn-primary btn-lg">Certificaciones</a>
    </div>
  </div>
</section>


  
</div>


