.table thead th {
    background-color: #343a40 !important;
    color: white !important;
  }
  
  .table tbody tr:hover {
    background-color: #f8f9fa !important;
  }
  
  .btn i {
    font-size: 1rem;
    
  }

 