/* You can add global styles to this file, and also import other style files */
/* Asumiendo que este es tu archivo SCSS del componente Landing Page */
:host {
    display: block;
    width: 100%;
    height: 100%;
    background-color: #F5F5F5; /* Color de fondo */
  }
  
  body {
    background-color: #F5F5F5; /* También puedes aplicarlo al body directamente */
  }
  