<footer class="bg-dark text-white text-center mt-auto" style="height: 100px;">
  <div class="container">
    <p>&copy; 2025 Juan Luevano Ruiz - Desarrollador Backend .Net</p>
    <div>
      <a href="#" class="text-white mx-3" title="Facebook">
        <i class="fab fa-facebook"></i> Facebook
      </a>
      <a href="#" class="text-white mx-3" title="Twitter">
        <i class="fab fa-twitter"></i> Twitter
      </a>
      <a href="#" class="text-white mx-3" title="LinkedIn">
        <i class="fab fa-linkedin"></i> LinkedIn
      </a>
    </div>
  </div>
</footer>
